.header {
    display: flex; /* จัดเรียงโลโก้และชื่อแผนกในแนวนอน */
    justify-content: space-between; /* ให้โลโก้อยู่ซ้ายสุด และชื่อแผนกอยู่ขวาสุด */
    align-items: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
}

.logo-area {
    display: flex; /* จัดเรียงโลโก้กับชื่อวิทยาลัยในแนวนอน */
    align-items: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
}

.logo-img {
    height: 50px; /* ปรับขนาดโลโก้ */
    margin-right: 5px; /* เว้นระยะห่างด้านขวา */
}


.college-title {
    display: flex;
    flex-direction: column; /* จัดชื่อวิทยาลัย ไทย/อังกฤษ ให้อยู่ในแนวตั้ง */
}

.college-name-th {
    font-weight: 600; /* ตัวหนา */
    font-size: 16px;
    color: #000;
}

.college-name-en {
    font-size: 14px;
    color: #555;
}


.Electronic-title {
    display: flex;
    flex-direction: column; /* จัดชื่อวิทยาลัย ไทย/อังกฤษ ให้อยู่ในแนวตั้ง */
}

.Electronic-name-th {
    font-weight: 600; /* ตัวหนา */
    font-size: 16px;
    color: #000;
}

.Electronic-name-en {
    font-size: 14px;
    color: #555;
}



.department-title {
    text-align: right; /* จัดข้อความชิดขวา */
}

.dept-name-en {
    display: block; /* ขึ้นบรรทัดใหม่ */
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.dept-name-th {
    display: block; /* ขึ้นบรรทัดใหม่ */
    font-size: 14px;
    color: #555;
}

#slideshow-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0;
    width: 100%; 
    height: auto; 
}